/* Decktop first  */
:root {
  --left-col-widht: 400px;
  --footer-height: 80px;
  --header-height: 100px;
  --notification: 80px;
  --seach: 60px;
}

/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* Common  */
/* Layout */
main {
  width: 100%;
  height: 100vh;
  padding: 50px 0 30px;
  /* debug */
  /* background-image*/
  background: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 15%,
    #D9DBD5 15%,
    #D9DBD5 100%
  );
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.left {
  width: var(--left-col-widht);
}

.right {
  width: calc(100% - var(--left-col-widht));
}

/* #Utilities  */
.flex {
  display: flex;
}

.justyfi-cont-c {
  justify-content: center;
}

.justyfi-con-e {
  justify-content: end;
}

.space-between {
  justify-content: space-between;
}

.align-items-c {
  align-items: center;
}

.gap-20px {
  gap: 20px;
}

.text-dec-und {
  text-decoration: underline;
}

.inline-block {
  display: inline-block;
}

.profile-img {
  width: 65px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.message {
  max-width: 600px;
  padding: 20px;
  margin-bottom: 20px;
}

.message-sent {
  background-color: #D5F9BA;
}

.message-received {
  background-color: #FFFFFF;
}

/* Main  */
/* Left  */
/* Header  */
.header-contacts,
.header-messages {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #EAEAEA;
}

.header-contacts .icons-header > i,
.header-messages .icons-header > i {
  font-size: 2rem;
  color: #B1B1B1;
  margin-left: 20px;
}

/* Notifications  */
.notifications {
  height: var(--notification);
  padding: 0 20px;
  background-color: #8EDAFC;
}

.bell-slash {
  font-size: 2rem;
  background-color: white;
  color: #8EDAFC;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}

.notifications .text-notification {
  font-size: 1.3rem;
}

.notifications .text-notification + span {
  color: #6393A6;
}

/* Seach  */
.input-search-chat {
  height: var(--seach);
  background-color: #FAFAFA;
  padding: 10px;
}

.input-search-chat > i {
  font-size: 1.5rem;
  color: #B1B1B1;
  background-color: white;
  padding: 7px;
}

.input-search-chat > input {
  flex-grow: 1;
  font-size: 1rem;
  padding: 10px;
  border: none;
  background-color: white;
  margin-left: -1px;
}

/* Chats  */
#chats {
  overflow-y: scroll;
  height: calc(100% - var(--header-height) - var(--notification) - var(--seach));
}

.col {
  position: relative;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid #C2C0BF;
  transition: background-color 0.15s;
}

.col:hover {
  background-color: rgb(222, 222, 222);
  cursor: pointer;
}

.info-profile time {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #C2C0BF;
}

#chats .info-profile span {
  color: #C2C0BF;
}

/* Right  */
.user-description.flex {
  align-items: center;
}

.userid-name {
  font-size: 2rem;
}

.header-messages .userid-name + time {
  font-size: 1.2rem;
  color: #B1B1B1;
}

.main-chat {
  overflow-y: auto;
  height: calc(100% - (var(--header-height) + var(--footer-height)));
  background-image: url(../img/mine.jpg);
  padding: 40px 60px;
}


/* Footer  */
footer {
  /* debug */
  height: var(--footer-height);
  background-color: #F3EEEA;
  padding: 0 20px;
}

form {
  height: 100%;
  gap: 40px;
}

footer form button {
  background-color: transparent;
  border: none;
}

footer form i {
  font-size: 2.5rem;
  color: #B1B1B1;
}

footer form input {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 15px;
  border: none;
}