@media screen and (min-width: 768px) {
  :root {
    --left-col-widht: 100px;
  }

  .footer-col button {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  :root {
    --left-col-widht: 400px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app-container {
    width: 90%;
    max-width: 1800px;
    height: 90%;
  }

  /* Left Col  */
  /* Header  */
  .left-col .icon-header {
    display: flex;
    align-items: center;
  }
  .notification,
  .seach,
  .chat-description  {
    display: block;
  }

  .notification,
  .seach {
    display: flex;
  }

  /* Right Col  */
  .main-col .message p {
    max-width: 500px;
  }
}

@media screen and (min-width: 1444px) {
  /* Right Col  */
  /* .main-col .message p {
    max-width: 800px;
  } */
}
